In [1]:
import pandas as pd

### 1. 데이터 로딩

In [8]:
df = pd.read_csv("./4. LDA_result/df_action_cluster_save.csv")
df.drop(labels='Unnamed: 0.1', axis = 1, inplace=True) # 필요 없는 열 데이터 제거
df.drop(labels='Unnamed: 0', axis = 1, inplace=True) # 필요 없는 열 데이터 제거
df.drop(labels='cluster', axis = 1, inplace=True) # 필요 없는 열 데이터 제거
df

,text,star,original,action_cluster
0,"['waste', 'money', 'ac', 'work', 'till', 'one'...",1,Waste of money . AC not working till one month...,1
1,"['purchase', 'lg', 'april', 'the', 'horrible',...",1,I purchased this LG A. C. on 17 April 23..The ...,5
2,"['want', 'buy', 'white', 'showpiece', 'bedroom...",1,If you want to buy a white showpiece for your ...,1
3,"['totally', 'waste', 'money', 'company', 'refu...",1,Totally waste of money. company is not refund ...,3
4,"['model', 'way', 'swing', 'actual', 'ton', 'co...",1,"This model don't have 4 way swing, it's actual...",5
...,...,...,...,...
6830,"['pricing', 'high', 'kg', 'wash', 'machine', '...",2,Pricing is too high for 23 kg washing machine\...,3
6831,"['recieved', 'part', 'item', 'show', 'picture'...",1,I recieved only part of the items shown in the...,1
6832,"['wash', 'machine', 'two', 'part', 'deliver', ...",1,"The washing machine has two parts, but they de...",1
6833,"['advertise', 'get', 'bottom', 'part', 'wash',...",1,What they advertise is not what you get.\r\nTh...,3
6834,"['almost', 'month', 'expensive', 'box', 'lie',...",1,Its been almost a month 2 very expensive boxes...,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6835 entries, 0 to 6834
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   text            6835 non-null   object
 1   star            6835 non-null   int64
 2   original        6778 non-null   object
 3   action_cluster  6835 non-null   int64
dtypes: int64(2), object(2)
memory usage: 213.7+ KB